	use load_env
	use uv
	# use standard_python
	# # use terminal_python
	echo "Useful commands:"
	echo "  python extract_images.py pdf-to-word folder1" 
	echo "  python extract_images.py extract-images folder1" 


